


#project h1{
    text-align: center;
    color: var(--color-primary);
}
.project-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin: -1rem 5rem;
    padding:1rem 5rem;
    gap:1rem;

}

.project-item{
    background:transparent;
    color: var(--color-light);
    padding:1rem;
    border-radius: 2rem;
    width: 60%;
    margin:0rem auto;
    border: 2px solid var(--color-primary-variant);
    transition: all 400ms ease;
}

.project-item:hover{
    border-color: var(--color-bg);
    background:  var( --color-primary-variant);
}

.project-item h3
{
    text-align: center;
    color: var(--color-light);
    margin-bottom: 1,5rem;
    margin:0.5rem 02rem;
}




.project-nav{
color: var(--color-primary);
   display: flex;
   flex-direction:column;
   align-items: center;
   gap: 1rem;
   position: absolute;
   right:3rem;
   font-size: 1.5rem;
   margin-top: 11rem;
  
}

.project-nav::after{
   content: '';
   display: inline-block;
   padding: 3%;
   width: 2rem;
   height: 3rem;

   
}


@media screen and (min-width: 600px) {
    .project-container {
      grid-template-columns: repeat(2, 1fr);
      margin: -1rem 5rem;
      padding: 1rem 5rem;
    }
  }
  
  @media screen and (max-width: 599px) {
    /* Estilos para pantallas de teléfonos */
    .project-container {
      grid-template-columns: repeat(1, 1fr);
      margin: -1rem 1rem;
      padding: 1rem 1rem;
    }
    
    .project-nav {
      display: none; /* Ocultar la clase en dispositivos móviles */
    }
  }


